container_commands:
  01_install_composer_dependencies:
    command: "sudo php -d memory_limit=-1 /usr/bin/composer.phar install --no-dev --no-interaction --prefer-dist --optimize-autoloader"
    cwd: "/var/app/current"

#02migrate:
#    command: "php artisan migrate"
#    cwd: "/var/app/current"

#03seed:
#    command: "php artisan db:seed --class='DnataSegmentItinerary'"
#    cwd: "/var/app/current"
    
#04clearCache: 
#    command: "php artisan cache:clear"
    
    
#    10_migrate:
#        command: "php artisan migrate --force"
#        cwd: "/var/app/current"
#        leader_only: true
#   11_seed:
#      command: "php artisan db:seed --force"
#      cwd: "/var/app/ondeck"
#      leader_only: true
#   12_cache:
#      command: "php artisan cache:clear"
#      cwd: "/var/app/ondeck"
#   13_optimize:
#      command: "php artisan optimize --force"
#      cwd: "/var/app/ondeck"
#   14_permissions:
#      # fix permissions on the Laravel app folder
#      command: "chmod 777 -R /var/app/ondeck"
#      cwd: "/var/app/ondeck"
